* {
  box-sizing: border-box;
  transition: all 0.2s;
  font-family: "Roboto Slab";
}
canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.noPointer {
  pointer-events: none;
}
.settings {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgba(150, 150, 150, 0.4);
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 0;
  z-index: 10;
}
.settings.left {
  margin: auto auto auto 0;
}
.settings.right {
  margin: auto 0 auto auto;
}
.container {
  margin: 10px;
  flex: 1;
  overflow: auto;
}
#stats {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(150, 150, 150, 0.4);
  padding: 20px;
  color: white;
  z-index: 10;
}
.hidden {
  display: none;
}
#pause {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323aa;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
#pause > h1 {
  color: #ffffffee;
  font: 600 10vmin "Roboto Slab";
}
#pause > h1 > p {
  font: 200 3vmin "Roboto Slab";
}
.blur {
  filter: blur(5px);
}
.statContainer > p {
  display: inline;
}
